<template>
  <div>
      <q-btn flat round dense icon="menu" class="q-mr-sm" >
        <q-menu>
          <q-list style="min-width: 100px">
            <q-item
              v-if="$store.state.users.user.name.logged === false || $store.state.users.user.name.logged === undefined" clickable v-close-popup>
              <router-link  to="/login">
                <q-item-section>Me connecter</q-item-section>
              </router-link>
            </q-item>
            <q-item
              v-if="$store.state.users.user.name.logged === true"
              clickable v-close-popup>
                <q-item-section
                  @click="logOut">Deconnexion</q-item-section>
            </q-item>
            <q-item   v-if="$store.state.users.user.name.logged === false || $store.state.users.user.name.logged === undefined" clickable v-close-popup>
              <router-link
                to="/register">
                <q-item-section>Inscription</q-item-section>
              </router-link>
            </q-item>
            <q-item   v-if="$store.state.users.user.name.logged === false || $store.state.users.user.name.logged === undefined" clickable v-close-popup>
              <router-link to="/">
                <q-item-section>A propos</q-item-section>
              </router-link>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Menu',
  methods: {
    logOut () {
      firebase.auth().signOut().then(() => {
        firebase.auth().onAuthStateChanged(() => {
          this.$store.dispatch('users/loginState', {
            logged: false
          })
          this.$router.push('/login')
        })
      })
    }
  }
}
</script>

<style scoped>
  a {
    text-decoration: none

  }
  .q-item {
    text-decoration: none
  }

</style>
