<template>
    <q-toolbar class="bg-secondary text-white q-my-md shadow-2">
      <Menu/>

      <q-space />
      <q-btn flat round dense icon="notification_important" />
      <q-btn flat round dense icon="search" />

      <q-btn-toggle
        flat stretch
        toggle-color="yellow"
      />
      <router-link style="color: white; text-decoration: none" to="/dashboard/profile">
        <q-btn v-if="$store.state.users.user.name.logged === true" flat round dense icon="person" />
      </router-link>

    </q-toolbar>
</template>

<script>
import Menu from 'components/Menu'
export default {
  name: 'Toolbar',
  components: { Menu }
}
</script>

<style scoped>
  .q-toolbar {
    margin: 0;
    position: fixed;
    top: 0%;
    z-index: 5;
  }
</style>
