<template>
  <div class="app" id="q-app">
    <Toolbar/>
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>
<script>
import Toolbar from 'components/Toolbar'

export default {
  name: 'App',
  components: { Toolbar }
}
</script>

<style>
  .app {
    width: 100vw;
    height: 100vh;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
