<template>
  <div>
    <div class="selector">
      <q-input v-on:keyup.enter="sendMessage" style="position:fixed; vertical-align: middle; width: 100%; padding-left: 2%; padding-right: 2%; z-index: 3" @submit.prevent rounded outlined v-model="showListItem" label="Ajouter un élement" >
        <template v-slot:append>
          <q-btn round @click="sendMessage" style="background-color: #26a69a; color: white"  icon="add" />
        </template>
      </q-input>
    </div>
    <div class="elements">
      <p v-if="list === null || list.length === 0">Pas de mémos pour l'instant</p>
      <q-card v-for="message in list"
              :key="message" style="margin-bottom: 2% " dark bordered class="bg-grey-7 my-card">
        <q-btn round flat style="float: right" @click="removeProduct" icon="delete"/>
        <q-card-section>
          <div class="text-h6">{{ message.text }}</div>
          <div class="text-subtitle2">Date: {{ message.date }}</div>
        </q-card-section>

        <q-separator dark inset />
        <q-expansion-item
          expand-separator
          icon=""
          label="Cliquez ici pour derouler la tache">
          <q-card>
            <q-card-section>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, eius reprehenderit eos corrupti
              commodi magni quaerat ex numquam, dolorum officiis modi facere maiores architecto suscipit iste
              eveniet doloribus ullam aliquid.
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-card-section>
        </q-card-section>
      </q-card>
     </div>
   </div>
</template>

<script>
import firebase from 'firebase'
import { date } from 'quasar'

export default {
  name: 'Dashboard',
  mounted () {
    const viewList = this
    const itemsRef = firebase.database().ref(this.currentUser)
    itemsRef.on('value', snapshot => {
      const data = snapshot.val()
      const list = []
      Object.keys(data).forEach(key => {
        list.push({
          id: key,
          text: data[key].text,
          date: data[key].date
        })
      })
      viewList.list = list
    })
  },
  data () {
    return {
      list: [],
      showListItem: '',
      currentUser: firebase.auth().currentUser.uid
    }
  },
  methods: {
    sendMessage () {
      const timeStamp = Date.now()
      const formattedDate = date.formatDate(timeStamp, 'YYYY-MM-DD')
      const listItem = {
        text: this.showListItem,
        date: formattedDate,
        currentId: timeStamp
      }
      firebase
        .database()
        .ref(this.currentUser)
        .push(listItem)
      this.showListItem = ''
    },
    removeProduct (id) {
      firebase
        .database()
        .ref(this.currentUser + '/' + id).remove()
    }
  }
}
</script>

<style scoped>
  .selector {
    position: fixed;
    width: 100vw;
    height: 13vh;
    top: 6%;
    z-index: 3;
    padding-top: 5%;
    margin: 0;
    background-color: white;
  }
  .elements {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    padding: 5%;
    position: inherit;
    margin-top: 30%;
    overflow: scroll;
  }

  ul {
    padding: 0;
    list-style: none;
    border-radius: 10%;
    background-color: grey;
  }
</style>
