<template>
  <div class="q-pa-md" style="max-width: 400px">

    <h3>Connexion</h3>
    <q-form
      @submit="userLogin"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="user.email"
        label="Adresse email"
        hint="votre addresse email"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-input
        filled
        type="password"
        v-model="user.password"
        label="Mot de passe"
        lazy-rules
        hint="Votre mot de passe"
      />

      <div class="btn-log">
        <q-btn label="Connexion" type="submit" color="primary"/>
      </div>
    </q-form>

  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Login',
  data () {
    return {
      user: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    userLogin () {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.user.email, this.user.password)
        .then(() => {
          this.$store.dispatch('users/loginState', {
            name: this.user.email,
            logged: !this.user.logged
          })
          this.$router.push('/dashboard')
        })
        .catch((error) => {
          alert(error.message)
        })
    }
  }
}
</script>

<style scoped>
  .btn-log{
    text-align: center;
  }
  q-field__label no-pointer-events absolute ellipsis {
    color: white;
  }
  .q-pa-md {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
