<template>
  <div>
    <h2>Bienvenue sur le test technique

      <p class="text-subtitle1">Made by <a href="http://romanmerck.s3-website.eu-west-3.amazonaws.com/" style="font-weight: bolder">Roman MERCK</a></p>
    </h2>
  </div>
</template>
<script>
export default {
  name: 'MainLayout',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
  body {
    margin: 0;
    padding: 0;
  }

  h2 {
    position: fixed;
    color: #1f4287;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
