<template>
    <div>
      <router-link to="/dashboard">
        <q-btn class="arrow_back_dashboard"  style="color: #26A69A" flat round icon="keyboard_backspace" />
      </router-link>
      <p style="position: fixed; top: 10%; right: 2%">Informations</p>

      <h4 class="headerProfile"> 👋 Bonjour,<br> <b>{{ $store.state.users.user.name.name }}</b></h4>

    </div>
</template>

<script>
export default {
  name: 'Profile'
}
</script>

<style scoped>
  .arrow_back_dashboard {
    position: absolute;
    top: 8%;
  }
  .headerProfile {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

</style>
