<template>
  <div class="q-pa-md" style="max-width: 400px">

    <h3>Creation de compte</h3>
    <q-form style="padding: 5%"
      @submit.prevent="userRegistration"
      class="q-gutter-md"
    >
      <q-input
        filled
        type="email"
        v-model="user.email"
        label="Adresse email"
        hint="Votre addresse email"
      />

      <q-input
        filled
        type="password"
        v-model="user.password"
        label="Mot de passe"
        lazy-rules
        hint="Votre mot de passe"
      />

      <div class="btn-log">
        <q-btn label="INSCRIPTION" type="submit" color="primary"/>
      </div>
    </q-form>

  </div>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'Register',
  data () {
    return {
      user: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    userRegistration () {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.user.email, this.user.password)
        .then((res) => {
          res.user
            .updateProfile({
              displayName: this.user.name
            })
            .then(() => {
              this.$router.push('/login')
            })
        })
        .catch((error) => {
          alert(error.message)
        })
    }
  }
}
</script>

<style scoped>
  .btn-log{
    text-align: center;
  }
  .q-pa-md {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
